include ./head.jade
body
  h1 Anna Braum
  p I'm passionate about plants of the Midwest, wildflowers, and volunteer restoration efforts.
  p I can identify almost any plant in Illinois (with a little help from #[a(href="http://www.indianaacademyofscience.org/Publications/Books-and-Special-Publications/Plants-of-the-Chicago-Region--4th-edition.aspx" target="_blank") S&W]).
  p I make native flower arrangements. Contact me if you'd like one.
