@darkgrey: #454144;
@braum-yellow: #FFEFBA;
@mauve: #5C004B;

body{
  font-family: 'Open Sans';
  background: @braum-yellow;
}

h1{
  font-family: "Permanent Marker";
  color: @darkgrey;
  text-align: center;
  font-size: 5em;
  margin-bottom: 5px;
}

p, i {
  padding: 0 25%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: @mauve;
  text-decoration: none;
}

p:last-child {
  padding-bottom: 50px;
}

@media (max-width: 600px) {
  p, i {
    padding: 0 5%;
  }
}
